.result {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .resultHighRight {
        font-weight: bold;
        font-size: 30px;
        
    }

}

.result p {
    font-size: 18px;
    margin: 5px 0;
}

